body {
  background: #101010;
}

.verticalCenter {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.horizontalCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.yellowButton {
  all: unset;
  background: #fdc604;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  outline: inherit;
  border-radius: 20px;
}

.yellowButton:hover {
  all: unset;
  background: hsl(47, 100%, 66%);
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  outline: inherit;
  border-radius: 20px;

  transition-duration: 0.5s;
}
